.btn-blue{
	background-color: #A13333;
	padding: 8px 8px;
	border-radius: 4px;
	color: whitesmoke;
	font-family: Times New Roman;

}


.btn-red{
	background-color: #C85C5C;
	padding: 8px 8px;
	border-radius: 4px;
	color: whitesmoke;
	font-family: Times New Roman;

}